body {
    background: url(img/test.jpg);
    font-family: 'Roboto', sans-serif;
    color: cornsilk;
    animation: myAnim 5s ease 0s 1 normal forwards;
}

h1,
h2 {
    text-align: center;
}


/* Barre de navigation */

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    justify-self: center;
    margin-top: 30px;
}

.navbar a {
    text-decoration: none;
    color: cornsilk;
}


/* Page projet  */

.conteneur {
    display: block;
    position: relative;
}

.conteneur a {
    text-decoration: none;
}

.a-img-txt {
    display: grid;
}

.a-img-txt>* {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.c1 {
    color: #C42626;
    text-decoration: none;
}

.projet {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Page a propos */

.pres {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    color: cornsilk;
    margin-top: 50px;
}

.me {
    flex-direction: row;
}

.form {
    flex-direction: row;
}


/* Page contact */

.contact {
    text-align: center;
    margin-top: 50px;
    color: cornsilk;
}

.contact-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-flex p:first-child {
    flex: 0 0 10%;
}

.contact-flex p:last-child {
    flex: 0 0 20%;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}

.social img {
    width: 40px;
    height: 40px;
    justify-content: center;
}


/* effet au survol navbar*/

.buttonav {
    padding: 15px 100px;
    margin: 10px 4px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.buttonav {
    border: 3px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.buttonav::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #003177;
    box-shadow: inset 0px 0px 0px #b6cdef;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.buttonav:hover::before {
    width: 100%;
}

.buttonav::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #a9c1e8;
    -webkit-transition: all 0.4s cubic-bezier(.7, .25, 0, 1);
    transition: all 0.4s cubic-bezier(.7, .25, 0, 1)
}

.buttonav:hover::after {
    width: 100%;
}

.buttonav:hover {
    border-left: 1px solid #b6cdef;
    border-right: 1px solid #6098FF;
}


/* Effet au survol bouton projet */

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.a-txt {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    filter: invert(0);
    transition: opacity .8s;
}

.a-txt:hover {
    opacity: 1;
}

.a-img-txt:hover .a-img {
    filter: invert(0);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.conteneur a:focus {
    border-bottom: 5px solid;
    background: rgb(0, 69, 219);
    ;
}

.conteneur a:hover {
    border-bottom: 5px solid;
    background: rgb(0, 69, 219);
    ;
}

.conteneur a:active {
    background: #3b5998;
    color: #748cbe;
}


/* keyframe */

@keyframes myAnim {
    0% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 50% 100%;
    }
}